.label-plugin-pheeantom > .radio-plugin-pheeantom { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.label-plugin-pheeantom > .radio-plugin-pheeantom + .img-plugin-pheeantom { /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
.label-plugin-pheeantom > .radio-plugin-pheeantom:checked + .img-plugin-pheeantom { /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}   